<!-- layout()方法把总模板layout.ejs中共用的视图，脚本样式“继承” -->
<% layout('layout') -%>

  <!-- <form action="/logout" method="POST">
      <button id='btnLogout' type="submit">注销</button>
    </form> -->
  <!-- 类型等于button 或者submit区别 （后者自动调用提交）-->
  <!-- <button id='btnLogout' type="submit">注销</button> -->

  <!-- <%  block('footer').append('<script src="/javascripts/index.js"></script>') %> -->

  <!-- script文件放在了 /javascripts/index.js-->












  
  
